{% import "/shared/builder.macro.twig" as builder %}
<h1>{% if action != null %}{{ ui.get("resource/user/view/#{action}","admin","fr") }}{% else %}{{ ui.get("resource/user/view/index","admin","fr") }}{% endif %}</h1>
<hr>
<div>
    <table>
        <thead>
            <tr>
                <th>Nom</th><th>Mail</th>{% if action == null %}<th class="text-align-right">Actions</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users"
                {% if action != null %}ui-sref="{{ action }}({id:user.id})"
                title="{{ ui.get("resource/default/action/#{action}","admin","fr") }}"{% endif %}
            >
                <td>{{ '{{ user.name }}' }}</td>
                <td>{{ '{{ user.mail }}' }}</td>
                {% if action == null %}
                <td class="text-align-right">
                    {{ builder.action('user') }}
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>