{% import "/shared/builder.macro.twig" as builder %}

<h1>{{ ui.get("resource/page/view/delete","admin","fr") }}</h1>
<hr>
<form ng-if="page" class="form">
    <ul>
        <li><b>Title :</b> {{ '{{ page.title }}' }}</li>
        <li><b>Description :</b> {{ '{{ page.description }}' }}</li>
        <li><b>Url :</b> {{ '{{ page.url }}' }}</li>
    </ul>
    <hr class="transparent">
    {{ ui.get("resource/page/action/delete_confirmation","admin","fr") }}
    <input type="button" value="{{ ui.get("resource/default/action/delete","admin","fr") }}" ng-click="submit()" class="button right">
</form>
<span ng-if="!page">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>