{% import "/shared/builder.macro.twig" as builder %}
<h1>{% if action != null %}{{ ui.get("resource/page/view/#{action}","admin","fr") }}{% else %}{{ ui.get("resource/page/view/index","admin","fr") }}{% endif %}</h1>
<hr>
<div>
    <table>
        <thead>
            <tr>
                <th>Title</th><th>Url</th>{% if action == null %}<th class="text-align-right">Actions</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="page in pages"
                {% if action != null %}ui-sref="{{ action }}({id:page.id})"
                title="{{ ui.get("resource/default/action/#{action}","admin","fr") }}"{% endif %}
            >
                <td>{{ '{{ page.title }}' }}</td>
                <td>{{ '{{ page.url }}' }}</td>
                {% if action == null %}
                <td class="text-align-right">
                    {{ builder.action('page') }}
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>