{% import "/shared/builder.macro.twig" as builder %}

<h1>{{ ui.get("resource/user/view/delete","admin","fr") }}</h1>
<hr>
<form ng-if="user" class="form">
    <ul>
        <li><b>Nom :</b> {{ '{{ user.name }}' }}</li>
        <li><b>Mail :</b> {{ '{{ user.mail }}' }}</li>
    </ul>
    <hr class="transparent">
    {{ ui.get("resource/user/action/delete_confirmation","admin","fr") }}
    <input type="button" value="{{ ui.get("resource/default/action/delete","admin","fr") }}" ng-click="submit()" class="button right">
</form>
<span ng-if="!user">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>