<h1>{{ ui.get("resource/bloc/view/read","admin","fr") }}</h1>
<hr>
<ul ng-if="bloc">
    <li><b>Anchor :</b> {{ '{{ bloc.anchor }}' }}</li>
</ul>
<span ng-if="!bloc">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>