{% import "/shared/builder.macro.twig" as builder %}

<h1>{{ ui.get("resource/content/#{category}/view/delete","admin","fr") }}</h1>
<hr>
<form ng-if="content" class="form">

    <hr class="transparent">
    {{ ui.get("resource/content/#{category}/action/delete_confirmation","admin","fr") }}
    <input type="button" value="{{ ui.get("resource/default/action/delete","admin","fr") }}" ng-click="submit()" class="button right">
</form>
<span ng-if="!content">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>