<h1>{{ ui.get("resource/content/#{category}/view/read","admin","fr") }}</h1>
<hr>
<ul ng-if="content">
    <li><b>Nom :</b> {{ '{{ content.name }}' }}</li>
</ul>
<span ng-if="!content">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>