<section id="{{ bloc.anchor }}" class="wrapper style1">
    <div class="container 75%">
        <div class="row 200%">
            <div class="6u 12u$(medium)">
                <header class="major">
                    <h2>{{ content.title }}</h2>
                    <p>{{ content.subtitle }}</p>
                </header>
            </div>
            <div class="6u$ 12u$(medium)">
                {{ content.description }}
            </div>
        </div>
    {% if hasActionBlocs == true %}
        <ul class="actions">
    {% endif %}