{% import "/shared/builder.macro.twig" as builder %}

<h1>{{ ui.get("resource/page/view/create","admin","fr") }}</h1>
<hr>
<form class="form">

    {{ builder.form("page", "create", fields) }}

    <hr class="transparent">
        <input type="button" value="{{ ui.get("resource/default/action/create","admin","fr") }}" ng-click="submit()" class="button right">
</form>
