var pageModule = angular.module('pageModule', ['ui.router', 'ngAnimate', 'file-model', 'PageApi', 'formModule', 'statusModule']);

//routing (with pretty urls !)
pageModule.config(['$stateProvider', '$locationProvider', '$httpProvider', '$urlRouterProvider', function($stateProvider, $locationProvider, $httpProvider,$urlRouterProvider
) {
    //template queries with XHR requests
    $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

    //use the HTML5 History API
    $locationProvider.html5Mode(true);

    $urlRouterProvider.otherwise('/index');

    $stateProvider
        {% if user.hasResourcePermission("page","read") %}
            .state('index', {
                url: '/index',
                templateUrl : '{{ helper.route("/admin/page/index/") }}',
                controller  : 'indexController'
            })
        {% endif %}
        {% if user.hasResourcePermission("page","create") %}
            .state('create', {
                url: '/create',
                templateUrl : '{{ helper.route("/admin/page/create/") }}',
                controller  : 'createController'
            })
        {% endif %}
        {% for action in ["read","update","delete"] %}
            {% if user.hasResourcePermission("page",action) %}
                .state('{{ action }}Index', {
                    url: '/{{ action }}',
                    templateUrl : '{{ helper.route("/admin/page/index/#{action}/") }}',
                    controller  : '{{ action }}IndexController'
                })
                .state('{{ action }}', {
                    url: '/{{ action }}/:id',
                    templateUrl : '{{ helper.route("/admin/page/#{action}/") }}',
                    controller  : '{{ action }}Controller'
                })
            {% endif %}
        {% endfor %};

}]).run(function($rootScope,$animate){
    $animate.enabled(false);
    $rootScope.$on('$stateChangeStart', function(event, toState, toParams, fromState, fromParams){
        if(!fromState.abstract){
            $animate.enabled(true);
        }
    });
});

pageModule.controller('globalController', ['$scope', function($scope){
    $scope.status = {};
    $scope.status.items = [];
    $scope.status.success = function(response){
       this.items.push(response);
    };
    $scope.status.error = function(){
        var that = this;
        if(response.status == 400){
            JSON.parse(response.statusText).forEach(function(text){
                that.items.push({"status":400,"statusText":text});
            });
        }
        else if(response.status == 401){
            window.location.reload()
        }
        else{
            this.items.push(response);
        }
    };
}]);