<h1>{{ ui.get("resource/user/view/read","admin","fr") }}</h1>
<hr>
<ul ng-if="user">
    <li><b>Nom :</b> {{ '{{ user.name }}' }}</li>
    <li><b>Mail :</b> {{ '{{ user.mail }}' }}</li>
</ul>
<span ng-if="!user">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>