$base00: #232323;
$base01: #373737;
$base02: #4B4B4B;
$base03: #696969;
$base04: #B9B9B9;
$base05: #D7D7D7;
$base06: #EBEBEB;
$base07: #FFFFFF;
$base08: #c35555;
$base09: #e19155;
$base0a: #f5cd7d;
$base0b: #91b973;
$base0c: #91c3c3;
$base0d: #4b91b9;
$base0e: #9b69af;
$base0f: #37697d;
