
$zmdi-font-name:      "Material-Design-Iconic-Font" !default;
$zmdi-font-path:      "../fonts" !default;
$zmdi-css-prefix:     zmdi-hc !default;
$zmdi-icon-prefix:    zmdi !default;

$zmdi-border-color:   #9E9E9E !default;
$zmdi-inverse:        #FFFFFF !default;
$zmdi-li-width:       (30em / 14) !default;

@import "../../../../../vendor/material-design-iconic-font/scss/material-design-iconic-font";