//
// FORM styles
//

.form{
  &__submit{
    @include columns((6,3))
  }
}


.field {
  font-size: 12px;

  @include user-select;

  &__label{
    position: relative;

    width: 100%;
    //padding-left: 2em;
    font-size: 16px;
    line-height: 2em;
    color: $base03;

    transition: color .3s;

    cursor: pointer;
    .filled &{
      color: $base05;
    }
  }

  &__holder{
    &--switch{
      display: inline;
    }
    position: relative;
    display: inline-block;
    margin-bottom: .5em;
    width: 100%;
    padding-left: .5em;
    line-height: 1.75em;

    border-radius: 4px;
    background-color: $base01;

    color: $base05;

    font-size: 24px;
    font-weight: 200;
    vertical-align: middle;

    .field--icon &, .field--icon & + b{
      padding: 0;
      &:before{
        position: relative;
        display: inline-block;
        line-height: inherit;
        width: 2em;
        margin-right: .5em;
        text-align: center;
        color: $base00;
      }
    }
  }
  &__input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;

    width: 100%;
    height: 100%;

    margin: 0;

    padding: 0 .5em;

    outline: none;
    border: none;
    border-radius: 4px;
    background: none;

    color: $base06;
    font-family: inherit;
    font-size: 1em;
    font-weight: 200;

    transition: background .3s;

    @include user-select($base07);

    &[type="password"]{
      font-family: caption;
      font-size: 1em;
      letter-spacing: .25em;
    }

    & + b{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;

      margin: 0;

      width: 100%;
      height: 100%;

      border-radius: 4px;

      overflow: hidden;
      box-shadow: none;

      transition: box-shadow .6s;

      &:before{

        content: "";
        position: absolute;
        left: 50%;
        top: 50%;

        display: block;
        height: 0;
        width: 0;
        transform: translate(0, 0);

        border-radius: 100%;

        transition: width .6s, height .6s, transform .6s, background .6s, opacity .2s;

        background-color: $base03;
        opacity: 0;

        [data-state=filled] &{
          background-color: $base0d;
        }

      }
    }

    &--select{
      background-color: transparent;
      background-image: none;
      border: none;
      & option{
        color: $base01;
        font-family: $root-font-family!important;
        font-weight: 200!important;
      }
    }

    &--switch{
      opacity: 0;

      &:focus{
        & + b{
          &:before{
            @include z-depth-bottom(2);
          }
        }
      }

      & + b{
        position: relative;

        display: inline-block;

        width: 32px;
        height: 8px;

        vertical-align: middle;

        border-radius: 4px;

        margin: 4px;

        background-color: $base01;

        cursor: pointer;

        &:before{
          content: "";

          position: absolute;

          left: 0;

          display: block;
          width: 16px;
          height: 16px;

          border-radius: 8px;

          margin: -4px;

          background-color: $base03;

          @include z-depth-bottom(1);

          transition: left .3s, background .3s, box-shadow .3s;
          [data-state=checked] &{
            left: 24px;
            background-color: $base0d;
          }
        }
      }
    }

    .field--icon &, .field--icon & + b{
      width: calc(100% - 2em);
      margin-left: 2em;
    }

    [data-state=filled] & + b, [data-state=focused] & + b{

      @include z-depth-bottom(1);

      &:before{
        width: 100vmax;
        height: 100vmax;
        opacity: 1;
        transform: translate(-50vmax,-50vmax);
      }
    }
  }
}