table{
  width: 100%;
  th,td{
    text-align: left;
  }
  td{
    a{
      padding: 0 1em;
      i{
        margin-right: .5em;
      }
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
  &.form{
    border: 1px solid $base01;
    td,th{
      border: 1px solid $base01;
      padding: 0 .5em;
    }
    td{
      input,select{
        width: 100%;
        * {
          background-color: $base07;
          color: $base01;
        }
      }
    }
  }
}