@import "base16";
$brand: #64abc5;


$root-background-color: #FFFFFF;
$root-color: $base06;

$root-font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
$monospace-font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;


@import "base64_encode";

@import "neutron";
@import "fonts";
@import "../../../../../vendor/sanitize-css/sanitize.scss";
@import "../../../../../vendor/material-shadows/material-shadows";
@import "table";

/// EXPERIMENTATION
@import "inline-svg";
@function inline-svg-anchor($str,$anchor) {
  @return url("data:image/svg+xml;charset=utf8,#{inline-urlescape($str)}##{$anchor}");
}

:root{
  overflow: auto;
}


body{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
  /*background-image: url("http://i.imgur.com/zV2QNpw.jpg");
  background-position: center;
  background-size: cover;*/
}

header{
  color: inherit;
  background-color: $base00;
  width: 320px;
  z-index: 5;

  @include z-depth-bottom(2);
  .profile{
    padding: 1em;
    text-align: center;
    &__head{
      font-size: 3em;
      div{
        display: inline-block;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        border: 2px solid;
        background-color: $base07;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        vertical-align: middle;
        &:before{
          position: relative;
          z-index: -1;
          font-size: 94px;
          width: 100%;
          height: 100%;
          display: block;
          line-height: 76px;
          left: -1px;
        }
      }
      span{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &__mail{
      height: 40px;
      padding: 10px;
    }
    a{
      color: inherit!important;
    }
  }
  nav{
    border-top: 1px solid $base01;
    border-bottom: 1px solid $base01;
    & a{
      display: block;
      width: 100%;
      min-height: 40px;
      vertical-align: middle;

      padding: 0 1em;

      font-size: 1.5em;
      color: inherit;
      transition: transform .6s;
      i{
        margin-right: .5em;
      }
      &:hover{
        transform: translateX(1em);
      }
    }
    hr{
      margin: 0;
    }
  }
}


hr{
  position: relative;

  margin: 2em 0;

  display: block;
  width: auto;
  height: 1px;
  background-color: $base01;
  &.transparent{
    background-color: transparent;
  }
}

main{
  &.narrow{
    @include container-width(540px);
  }
  &.center{
    justify-content: center;
  }
  @include container-width(960px);

  width: 100%;

  @include container-align(center);
  display: flex;

  min-height: 100vh;

  flex-direction: column;


  nav{
    z-index: 3;

    display: flex;

    margin: 30px 0;
    padding: 15px 40px;

    border-radius: 2px;

    background-color: $base00;

    @include z-depth-bottom(2);
    a{
      flex-grow: 1;
      text-align: center;
      font-size: 1.5em;
      color: $base07;
      padding: 0 1em;
      i{
        margin-right: .5em;
      }
      &:not(:first-child){
        border-left: 1px solid $base01;
      }
    }
  }
  .status{
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    height: 4em;
    overflow-y: auto;

    &.ng-hide{
      height: 0;
      transition: height .6s .6s;
    }

    .status-item{
      position: relative;
      display: block;
      border-radius: 2px;
      margin: .5em 0;
      min-width: 100%;
      line-height: 2em;
      padding: 0 1em;
      overflow: hidden;

      &:not(.ng-scope){
        display: none;
      }

      @include z-depth-bottom(1);
      //success
      &[data-code="200"]{
        background-color: $base0b;
      }
      //must reconnect
      &[data-code="401"]{
        background-color: $base0a;
      }
      //missing fields, not found, not allowed
      &[data-code^="4"]{
        background-color: $base09;
      }
      //error
      &[data-code^="5"]{
        background-color: $base08;
      }

      &.ng-leave{
        transition: transform .6s 0s, height .6s .6s;
      }

      &.ng-enter{
        transition: height 0s, transform .6s;
      }

      &.ng-enter.ng-enter-active,&.ng-leave{
        transform: translateY(0);
        height: auto;
      }

      &.ng-enter,&.ng-leave.ng-leave-active{
        transform: translateY(-50%);
        height: 0;
      }
    }
  }
}



.card-container{
  position: relative;

  margin: 30px 0;

  flex-grow: 1;

  transition: height .6s;


}

.card{
  &--welcome{
    padding-top: 240px;

    background-image: url('../img/welcom_sun.svg');
    background-size: cover;
    background-position: center top;

    font-size: 3em;
    font-weight: 300;
  }

  .card-container &{
    position: absolute;

    top: 0;
    left: 0;
  }

  z-index: 2;
  padding: 60px 40px;

  width: 100%;
  max-height: 100%;
  overflow-y: auto;

  border-radius: 2px;
  background-color: $base00;

  @include z-depth-bottom(2);
  transform-origin: top center;

  h1{
    font-size: 2em;
    margin-bottom: 1em;
  }
  h2{
    font-size: 1.5em;
    margin-bottom: .5em;
  }

  a{
    color: inherit!important;
  }

  //hide the card while angular is loading
  &:not(.ng-scope)[ui-view]{
    display: none;
  }

  /* The starting CSS styles for the enter animation */
  &.ng-enter {
    z-index: 1;
    animation: card-enter forwards 1.2s;
  }

  /* The starting CSS styles for the leave animation */
  &.ng-leave {
    z-index: 2;
    animation: card-leave forwards 1.2s;
  }
}

@keyframes card-enter {
  0% {
    filter: contrast(.5);
    transform: scale(0.8) translateY(-100vh);
  }
  50% {
    filter: contrast(.5);
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes card-leave {
  0% {
    transform: scale(1);
  }
  50% {
    filter: contrast(.9);
    transform: scale(.9);

  }
  100% {
    filter: contrast(.9);
    transform: scale(.9) translateY(100vh);
  }
}

@mixin user-select ($value: none) {
  @if $value == none {
    -webkit-touch-callout: none;
  }
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@import "form";


.button{
  position: relative;

  outline: none;

  border-radius: 4px;

  display: inline-block;
  height: 2em;
  line-height: 1em;

  padding: .5em 1em;

  &--small{
    height: 1.5em;
    margin: 1em 0;
    padding: .25em .75em;
    border-radius: 2px;
  }
  
  &--positive{
    background-color: $base0b;
  }

  background-color: $base0d;

  cursor: pointer;

  @include z-depth-bottom(2);

  &:focus{
    @include z-depth-bottom(3);
  }
}

.background{
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -100;

  display: block;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  transform: translateX(-50%) translateY(-50%);
}

.right{
  float: right;
}

.left{
  float: left;
}

.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}

[href],[ng-click]{
  cursor: pointer;
}