{% extends "/Admin/layout.html.twig" %}
{% import "/shared/builder.macro.twig" as builder %}

{% block title %}Category{% endblock %}
{% block base %}{{ helper.route("/admin/category/") }}{% endblock %}

{% block prestylesheets %}

{% endblock %}

{% block poststylesheets %}

{% endblock %}

{% block main %}

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <main ng-app="categoryModule" ng-controller="globalController">
        <nav>
            {% if user.hasResourcePermission("category","update") %}
                <a ui-sref="update" title="{{ ui.get("resource/category/action/update","admin","fr") }}"><i class="zmdi zmdi-{{ ui.get("resource/category/action/update","admin","icon") }}"></i> {{ ui.get("resource/default/action/update","admin","fr") }}</a>
            {% endif %}
        </nav>
        <div class="card-container">
            <section class="card"  ui-view>

            </section>
        </div>
        <div class="status" ng-hide="!status.items.length" title="{{ ui.get("general/hide","admin","fr") }}">
            <p ng-repeat="item in status.items" ng-click="status.items.splice($index,1)" class="status-item" data-code="{{ '{{ item.status }}' }}">{{ '{{ item.statusText }}' }}</p>
        </div>
    </main>
    <!-- Vendor -->
    <script src="{{ helper.asset("vendor.js","admin") }}"></script>

    <!-- Services -->
    <script src="{{ helper.asset("csrfServices.js","admin") }}"></script>
    <script src="{{ helper.asset("statusServices.js","admin") }}"></script>
    <script src="{{ helper.asset("categoryServices.js","api") }}"></script>
    <script src="{{ helper.asset("typeServices.js","api") }}"></script>

    <!-- Directives -->
    <script src="{{ helper.asset("formDirectives.js","admin") }}"></script>

    <!-- Module -->
    <script>
        {{ helper.minJS(include("/Admin/Category/categoryModule.js.twig"))|raw }}
    </script>
    <!-- Controllers -->
    <script src="{{ helper.asset("categoryControllers.js","admin") }}"></script>
{% endblock %}