{% import "/shared/builder.macro.twig" as builder %}

<h1>{{ ui.get("resource/category/view/update","admin","fr") }}</h1>
<hr>
<form ng-if="category" class="form">
    {#<table>
        <tr>
            Propriétés :
        <ul>
            <li ng-repeat="property in form.properties">{{ '{{ property.name }}' }}/{{ '{{ property.mode.entity }}' }}/{{ '{{ property.mode.name }}' }}</li>
        </ul>
        </tr>
        <tr>
            Propriétés ajoutées :
        <ul>
            <li ng-repeat="property in form.createdProperties">{{ '{{ property.name }}' }}/{{ '{{ property.mode.entity }}' }}/{{ '{{ property.mode.name }}' }}</li>
        </ul>
        </tr>
        <tr>
            Propriétés supprimées :
        <ul>
            <li ng-repeat="property in form.deletedProperties">{{ '{{ property.name }}' }}</li>
        </ul>
        </tr>
    </table>
    <hr>#}
    <p>
        <strong>Nom :</strong> {{ '{{category.name}}' }}
    </p>
    <hr class="transparent">
    <h2>{{ ui.get("resource/property/general/plural","admin","fr") }}</h2>
    <table class="form">
        <thead>
            <tr>
                <th>Nom</th><th>Mode</th><th class="text-align-right">Suppression</th>
            </tr>
        </thead>
        <tr ng-repeat="property in category.properties">
            <td>
                <input type="text" ng-model="property.name">
            </td>
            <td>
                <select ng-model="property.mode" ng-options="mode.name group by mode.entity for mode in modes" ng-change="property.change()"></select>
            </td>
            <td class="text-align-right">
                <a ng-click="property.delete()"><i class="zmdi zmdi-delete"></i>supprimer</a>
            </td>
        </tr>
        <tr ng-repeat="property in category.createdProperties">
            <td>
                <input type="text" ng-model="property.name">
            </td>
            <td>
                <select ng-model="property.mode" ng-options="mode.name group by mode.entity for mode in modes"></select>
            </td>
            <td class="text-align-right">
                <a ng-click="property.delete()"><i class="zmdi zmdi-delete"></i>supprimer</a>
            </td>
        </tr>
    </table>
    <div>
        <a ng-click="createProperty()" class="button button--small button--positive"><i class="zmdi zmdi-plus"></i> {{ ui.get("resource/default/action/create","admin","fr") }} {{ ui.get("resource/property/general/indefinite_singular","admin","fr")|lower }}</a>
    </div>

    <hr class="transparent">
    <input type="button" value="{{ ui.get("resource/default/action/update","admin","fr") }}" ng-click="submit()" class="button right">
</form>
<span ng-if="!category">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>