{% import "/shared/builder.macro.twig" as builder %}

<h1>{{ ui.get("resource/bloc/view/update","admin","fr") }}</h1>
<hr>
<form ng-if="bloc" class="form">

    {{ builder.form("bloc", "update", fields) }}

    <hr class="transparent">
    <input type="button" value="{{ ui.get("resource/default/action/update","admin","fr") }}" ng-click="submit()" class="button right">
</form>
<span ng-if="!bloc">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>