{% import "/shared/builder.macro.twig" as builder %}
<h1>{% if action != null %}{{ ui.get("resource/user/view/#{action}","admin","fr") }}{% else %}{{ ui.get("resource/category/view/index","admin","fr") }}{% endif %}</h1>
<hr>
<div>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                {% if action == null %}
                <th class="text-align-right">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in categories"
                {% if action != null %}ui-sref="{{ action }}({id:category.id})"
                title="{{ ui.get("resource/default/action/#{action}") }}"{% endif %}
            >
                <td>{{ '{{ category.name }}' }}</td>
                {% if action == null %}
                    <td class="text-align-right">
                        {{ builder.action('category') }}
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>