{% import "/shared/builder.macro.twig" as builder %}

<h1>{{ ui.get("resource/content/#{category}/view/update","admin","fr") }}</h1>
<hr>
<form ng-if="content" class="form">

    {{ builder.form("content", "update", fields) }}
    <hr class="transparent">
    {#<h2>{{ ui.get("resource/page/general/plural","admin","fr") }}</h2>
    <table class="form">
        <tr ng-repeat="page in category.pages">
            <td>
                {{ builder.form("page", "update", pageFields) }}
            </td>
            <td class="text-align-right">
                <a ng-click="page.delete()"><i class="zmdi zmdi-delete"></i>supprimer</a>
            </td>
        </tr>
        <tr ng-repeat="page in category.createdPages">
            <td>
                <input type="text" ng-model="page.name">
            </td>
            <td>
                <select ng-model="page.mode" ng-options="mode.name group by mode.entity for mode in modes"></select>
            </td>
            <td class="text-align-right">
                <a ng-click="page.delete()"><i class="zmdi zmdi-delete"></i>supprimer</a>
            </td>
        </tr>
    </table>#}
    <hr class="transparent">
    <input type="button" value="{{ ui.get("resource/default/action/update","admin","fr") }}" ng-click="submit()" class="button right">
</form>
<span ng-if="!content">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>