{% extends "/Admin/layout.html.twig" %}
{% import "/shared/builder.macro.twig" as builder %}

{% block title %}User{% endblock %}
{% block base %}{{ helper.route("/admin/user/") }}{% endblock %}

{% block prestylesheets %}

{% endblock %}

{% block poststylesheets %}

{% endblock %}

{% block main %}

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <main ng-app="userModule" ng-controller="globalController">
        <nav>
            {{ builder.actionBar(resource) }}
        </nav>
        <div class="card-container">
            <section class="card"  ui-view>

            </section>
        </div>
        <div class="status" ng-hide="!status.items.length" title="{{ ui.get("general/hide","admin","fr") }}">
            <p ng-repeat="item in status.items" ng-click="status.items.splice($index,1)" class="status-item" data-code="{{ '{{ item.status }}' }}">{{ '{{ item.statusText }}' }}</p>
        </div>

    </main>
    <!-- Vendor -->
    <script src="{{ helper.asset("vendor.js","admin") }}"></script>

    <!-- Services -->
    <script src="{{ helper.asset("csrfServices.js","admin") }}"></script>
    <script src="{{ helper.asset("statusServices.js","admin") }}"></script>
    <script src="{{ helper.asset("userServices.js","api") }}"></script>

    <!-- Directives -->
    <script src="{{ helper.asset("formDirectives.js","admin") }}"></script>

    <!-- Module -->
    <script>
        {{ helper.minJS(include("/Admin/User/userModule.js.twig"))|raw }}
    </script>
    <!-- Controllers -->
    <script src="{{ helper.asset("userControllers.js","admin") }}"></script>
{% endblock %}