<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Sign In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if block("base") %}
            <base href="{{ block("base") }}">
        {% endif %}
        <!-- fonts -->
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic'>

        <!-- main stylesheets -->
        <link rel="stylesheet" href="{{ helper.asset("style.css","admin") }}">

    </head>

    <body>

    <!--[if lt IE 10]>
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <main class="narrow center" ng-app="signinModule" ng-controller="signinController">
        <section class="card">
            <form class="form" method="post" action=".">
                <h1>Sign In :</h1>
                <div id="fld_signin_mail" class="field">
                    <label id="lbl_signin_mail" for="npt_signin_mail" class="field__label">{{ ui.get("general/signin/form/mail/label","admin","fr") }}
                        <div id="hld_signin_mail" class="field__holder">{{ ui.get("general/signin/form/mail/holder","admin","fr") }}
                            <input type="text" id="npt_signin_mail" name="npt_signin_mail" class="field__input" ng-model="signin.mail" form-field="mail"/>
                            <b></b>
                        </div>
                    </label>
                </div>
                <div id="fld_signin_password" class="field">
                    <label id="lbl_signin_password" for="npt_signin_password" class="field__label">{{ ui.get("general/signin/form/password/label","admin","fr") }}
                        <div id="hld_signin_password" class="field__holder">{{ ui.get("general/signin/form/password/holder","admin","fr") }}
                            <input type="password" id="npt_signin_password" name="npt_signin_password" class="field__input" ng-model="signin.password" form-field="password"/>
                            <b></b>
                        </div>
                    </label>
                </div>
                {% if target %}
                    <input type="hidden" name="target" value="{{ target }}">
                {% endif %}
                {% for key, token in csrf %}
                    <input type="hidden" name="{{ key }}" value="{{ token }}">
                {% endfor %}

                <hr>
                <div class="form__submit">
                    <div id="fld_signin_remember" class="field">
                        <label id="lbl_signin_remember" for="npt_signin_remember" class="field__label">{{ ui.get("general/signin/form/remember/label","admin","fr") }}
                            <div id="hld_signin_remember" class="field__holder--switch">
                                <input type="checkbox" id="npt_signin_remember" class="field__input--switch" ng-model="signin.remember" form-field="remember"/>
                                <b></b>
                            </div>
                        </label>
                    </div>
                    <div>
                        <input type="submit"  class="button right" value="Sign In">
                    </div>
                </div>
            </form>
        </section>
        <div class="status" ng-hide="!status.length" title="{{ ui.get("general/hide","admin","fr") }}">
            <p ng-repeat="stat in status" ng-click="status.splice($index,1)" class="status-item" data-code="{{ '{{ stat.code }}' }}">{{ '{{ stat.message }}' }}</p>
        </div>
    </main>



{#
    <video class="background" preload="true" autoplay loop muted>
        <source src="http://a1.phobos.apple.com/us/r1000/000/Features/atv/AutumnResources/videos/b3-2.mov" type="video/mp4">
    </video>
#}
    <!-- Vendor -->
    <script src="{{ helper.asset("vendor.js","admin") }}"></script>

    <!-- Directives -->
    <script src="{{ helper.asset("formDirectives.js","admin") }}"></script>

    <!-- Module -->
    <script>
        var signinModule = angular.module('signinModule', ['formModule','ngAnimate'])
            .controller('signinController',['$scope', function($scope){
                $scope.status = [];
                {% if message %}
                    $scope.status.push({
                        "message" : "{{ message }}",
                        "code" : "400"
                    });
                {% endif %}
            }]);
    </script>
    <!-- Controllers -->


    </body>
</html>