<section id="{{ bloc.anchor }}" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>{{ content.title }}</h2>
            <p>{{ content.description }}</p>
        </header>
    {% if hasActionBlocs == true %}
        <ul class="actions">
    {% endif %}