{% extends "/Admin/layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <main class="center">
        <section class="card card--welcome">
            {% if message %}
                {{ message }}
            {% endif %}
        </section>
    </main>
{% endblock %}