<header>
    <section class="profile">
        <div class="profile__head">
            <div class="zmdi zmdi-account-circle" style="{% if user.hasAvatar() %}background-image:url('/contents/admin/user/{{ user.getId() }}/avatar.{{ user.getAvatarExtension() }}');overflow: hidden;{% else %}background-color: transparent;{% endif %}"></div>
            <span>{{ user.getName() }}</span>
        </div>
        <span class="profile__mail">{{ user.getMail() }}</span>
        <a class="zmdi zmdi-power-off" href="{{ helper.route("/admin/signout/") }}" title="{{ ui.get("general/signout","admin","fr") }}"></a>
    </section>
    <nav>
        <a href="{{ helper.route("/admin/") }}"><i class="zmdi zmdi-home"></i>Menu</a>
        <hr>
        {% if user.hasResourcePermission("user") %}
            <a href="{{ helper.route("/admin/user/") }}"><i class="zmdi zmdi-{{ ui.get("resource/user/tab","admin","icon") }}"></i>{{ ui.get("resource/user/general/plural","admin","fr") }}</a>
        {% endif %}
        {% if user.hasResourcePermission("category") %}
            <a href="{{ helper.route("/admin/category/") }}"><i class="zmdi zmdi-{{ ui.get("resource/category/tab","admin","icon") }}"></i>{{ ui.get("resource/category/general/plural","admin","fr") }}</a>
        {% endif %}
        <hr>
        {% if user.hasResourcePermission("page") %}
            <a href="{{ helper.route("/admin/page/") }}"><i class="zmdi zmdi-{{ ui.get("resource/page/tab","admin","icon") }}"></i>{{ ui.get("resource/page/general/plural","admin","fr") }}</a>
        {% endif %}
        {% if user.hasResourcePermission("bloc") %}
            <a href="{{ helper.route("/admin/bloc/") }}"><i class="zmdi zmdi-{{ ui.get("resource/bloc/tab","admin","icon") }}"></i>{{ ui.get("resource/bloc/general/plural","admin","fr") }}</a>
        {% endif %}
        <hr>
        {% for content in header.contents %}
            <a href="{{ helper.route("/admin/content/#{content.name}/") }}"><i class="zmdi zmdi-caret-right"></i>{{ ui.get("resource/content/#{content.name}/general/plural","admin","fr") }}</a>
        {% endfor %}
    </nav>
</header>