<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="/assets/front/js/html5shiv.js"></script><![endif]-->
    <script src="/assets/front/js/jquery.min.js"></script>
    <script src="/assets/front/js/skel.min.js"></script>
    <script src="/assets/front/js/skel-layers.min.js"></script>
    <script src="/assets/front/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/assets/front/css/skel.css" />
        <link rel="stylesheet" href="/assets/front/css/style.css" />
        <link rel="stylesheet" href="/assets/front/css/style-xlarge.css" />
    </noscript>
</head>
<body class="landing">