{% import "/shared/builder.macro.twig" as builder %}

<h1>{{ ui.get("resource/bloc/view/delete","admin","fr") }}</h1>
<hr>
<form ng-if="bloc" class="form">
    <ul>
        <li><b>Anchor :</b> {{ '{{ bloc.anchor }}' }}</li>
    </ul>
    <hr class="transparent">
    {{ ui.get("resource/bloc/action/delete_confirmation","admin","fr") }}
    <input type="button" value="{{ ui.get("resource/default/action/delete","admin","fr") }}" ng-click="submit()" class="button right">
</form>
<span ng-if="!bloc">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>