$base00: #/* @echo base00 */;
$base01: #/* @echo base01 */;
$base02: #/* @echo base02 */;
$base03: #/* @echo base03 */;
$base04: #/* @echo base04 */;
$base05: #/* @echo base05 */;
$base06: #/* @echo base06 */;
$base07: #/* @echo base07 */;
$base08: #/* @echo base08 */;
$base09: #/* @echo base09 */;
$base0a: #/* @echo base0A */;
$base0b: #/* @echo base0B */;
$base0c: #/* @echo base0C */;
$base0d: #/* @echo base0D */;
$base0e: #/* @echo base0E */;
$base0f: #/* @echo base0F */;
