{# FIELD BUILDER #}
{% macro field(resource, action, field) %}
    {% set label = ui.get("resource/#{resource}/form/#{field.name}/label","admin","fr") %}
    {% set holder = ui.get("resource/#{resource}/form/#{field.name}/holder","admin","fr") %}

    {% if field.type == "string" or field.type == "mail" %}
        <div id="fld_{{ resource }}_{{ field.name }}" class="field">
            <label id="lbl_{{ resource }}_{{ field.name }}" for="npt_{{ resource }}_{{ field.name }}" class="field__label">{% if label %}{{ label }}{% else %}{{ field.name|capitalize }}{% endif %}
                <div id="hld_{{ resource }}_{{ field.name }}" class="field__holder">{% if holder %}{{ holder }}{% else %}{{ ui.get("resource/default/form/#{field.type}/holder","admin","fr") }}{% endif %}
                    <input type="{% if field.type == "string" %}text{% else %}{{ field.type }}{% endif %}" id="npt_{{ resource }}_{{ field.name }}" name="npt_{{ resource }}_{{ field.name }}" class="field__input" ng-model="{{ resource }}.{{ field.name }}" form-field/>
                    <b></b>
                </div>
            </label>
        </div>
    {% elseif field.type == "password" %}
        {% set holder_current = ui.get("resource/#{resource}/form/#{field.name}/holder_current","admin","fr") %}
        {% set holder_repeat = ui.get("resource/#{resource}/form/#{field.name}/holder_repeat","admin","fr") %}
        <div id="fld_{{ resource }}_{{ field.name }}" class="field">
            <label id="lbl_{{ resource }}_{{ field.name }}" for="npt_{{ resource }}_{{ field.name }}_{% if action == "update" %}current{% else %}new{% endif %}" class="field__label">{% if label %}{{ label }}{% else %}{{ field.name|capitalize }}{% endif %}
                {% if action == "update" %}
                    <div id="hld_{{ resource }}_{{ field.name }}_current" class="field__holder">{% if holder_current %}{{ holder_current }}{% else %}{{ ui.get("resource/default/form/password/holder_current","admin","fr") }}{% endif %}
                        <input type="password" id="npt_{{ resource }}_{{ field.name }}_current" name="npt_{{ resource }}_{{ field.name }}_current" class="field__input" ng-model="{{ resource }}.{{ field.name }}.current" form-field/>
                        <b></b>
                    </div>
                {% endif %}
                <div id="hld_{{ resource }}_{{ field.name }}_new" class="field__holder">{% if holder %}{{ holder }}{% else %}{{ ui.get("resource/default/form/password/holder_new","admin","fr") }}{% endif %}
                    <input type="password" id="npt_{{ resource }}_{{ field.name }}_new" name="npt_{{ resource }}_{{ field.name }}_new" class="field__input" ng-model="{{ resource }}.{{ field.name }}.new" form-field/>
                    <b></b>
                </div>
                <div id="hld_{{ resource }}_{{ field.name }}_repeat" class="field__holder">{% if holder_repeat %}{{ holder_repeat }}{% else %}{{ ui.get("resource/default/form/password/holder_repeat","admin","fr") }}{% endif %}
                    <input type="password" id="npt_{{ resource }}_{{ field.name }}_repeat" name="npt_{{ resource }}_{{ field.name }}_repeat" class="field__input" ng-model="{{ resource }}.{{ field.name }}.repeat" form-field/>
                    <b></b>
                </div>
            </label>
        </div>
    {% elseif field.type == "switch" %}
        <div id="fld_{{ resource }}_{{ field.name }}" class="field">
            <label id="lbl_{{ resource }}_{{ field.name }}" for="npt_{{ resource }}_{{ field.name }}" class="field__label">{% if label %}{{ label }}{% else %}{{ field.name|capitalize }}{% endif %}
                <div id="hld_{{ resource }}_{{ field.name }}" class="field__holder--switch">
                    <input type="checkbox" id="npt_{{ resource }}_{{ field.name }}" class="field__input--switch" ng-model="{{ resource }}.{{ field.name }}" form-field/>
                    <b></b>
                </div>
            </label>
        </div>
    {% elseif field.type == "select" %}
        <div id="fld_{{ resource }}_{{ field.name }}" class="field">
            <label id="lbl_{{ resource }}_{{ field.name }}" for="npt_{{ resource }}_{{ field.name }}" class="field__label">{% if label %}{{ label }}{% else %}{{ field.name|capitalize }}{% endif %}
                <div id="hld_{{ resource }}_{{ field.name }}" class="field__holder">{% if holder %}{{ holder }}{% else %}{{ ui.get("resource/default/form/#{field.type}/holder","admin","fr") }}{% endif %}
                    <select id="npt_{{ resource }}_{{ field.name }}" name="npt_{{ resource }}_{{ field.name }}" class="field__input field__input--select" ng-model="{{ resource }}.{{ field.name }}" form-field>
                        {% for option in field.options %}
                            <option value="{{ option.value }}">{% if option.name %}{{ option.name|capitalize }}{% else %}{{ ui.get("resource/#{resource}/form/#{field.name}/options/#{option.value}","admin","fr") }}{% endif %}</option>
                        {% endfor %}
                    </select>
                    <b></b>
                </div>
            </label>
        </div>
    {% elseif field.type == "image" %}
        <div id="fld_image" class="field">
            <label id="lbl_image" for="npt_image" class="field__label">{% if label %}{{ label }}{% else %}{{ field.name|capitalize }}{% endif %}
                <div id="hld_image" class="field__holder">{% if holder %}{{ holder }}{% else %}{{ ui.get("resource/default/form/#{field.type}/holder","admin","fr") }}{% endif %}
                    <input type="file" id="npt_image" name="npt_image" class="field__input" file-model="{{ resource }}.{{ field.name }}"/>
                    <b></b>
                </div>
            </label>
        </div>
    {% endif %}
{% endmacro %}

{# FORM BUILDER #}
{% macro form(resource, action, fields) %}
    {%  import _self as builder %}
    {% for field in fields %}
        {{ builder.field(resource, action, field) }}
    {% endfor %}
{% endmacro %}

{# ACTION BAR BUILDER #}
{% macro actionBar(resource) %}
    {% if user.hasResourcePermission(resource,"read") %}
        <a href="." title="{{ ui.get("resource/#{resource}/action/index","admin","fr") }}"><i class="zmdi zmdi-{{ ui.get("resource/#{resource}/action/index","admin","icon") }}"></i> {{ ui.get("resource/default/action/index","admin","fr") }}</a>
    {% endif %}
    {% for action in ["create","read","update","delete"] %}
        {% if user.hasResourcePermission(resource,action) %}
            <a href="{{action}}" title="{{ ui.get("resource/#{resource}/action/#{action}","admin","fr") }}"><i class="zmdi zmdi-{{ ui.get("resource/#{resource}/action/#{action}","admin","icon") }}"></i> {{ ui.get("resource/default/action/#{action}","admin","fr") }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}

{# ACTION BUILDER #}
{% macro action(resource) %}
    {% for action in ["read","update","delete"] %}
        {% if user.hasResourcePermission(resource,action) %}
            <a href="{{action}}/{{ "{{ #{resource}.id }}" }}" title="{{ ui.get("resource/#{resource}/action/#{action}","admin","fr") }}"><i class="zmdi zmdi-{{ ui.get("resource/#{resource}/action/#{action}","admin","icon") }}"></i> {{ ui.get("resource/default/action/#{action}","admin","fr") }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}