<h1>{{ ui.get("resource/page/view/read","admin","fr") }}</h1>
<hr>
<ul ng-if="page">
    <li><b>Title :</b> {{ '{{ page.title }}' }}</li>
    <li><b>Description :</b> {{ '{{ page.description }}' }}</li>
    <li><b>Url :</b> {{ '{{ page.url }}' }}</li>
</ul>
<span ng-if="!page">
    {{ ui.get("resource/default/error/404","admin","fr") }}
</span>