<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Default title{% endblock %}</title>
    <meta name="description" content="{% block description %}No description{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if block("base") %}
        <base href="{{ block("base") }}">
    {% endif %}
    <!-- fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic'>

    <!-- pre stylesheets -->
    {{ block("prestylesheets") }}

    <!-- main stylesheets -->
    <link rel="stylesheet" href="{{ helper.asset("style.css","admin") }}">

    <!-- post stylesheets -->
    {{ block("poststylesheets") }}

</head>

<body>
    {% include "/Admin/layout/header.html.twig"%}
    {{ block("main") }}
</body>
</html>